.mainContainer{
    max-width: 1216px;
    margin: 0 auto  ;
    & .tableContainer{
       display: table;
       width: 100%;
       & .tableHead{
           display: table-row;
           & .tablecell{
               display: table-cell;
           }
       }
    }
}